$primary-color: #01aeca;
$success-color: #95ba24;
$warning-color: #f0ac00;
$bg-color: #f0f5f8;

@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-exp";
@import "node_modules/spectre.css/src/spectre-icons";

body {
  background: $bg-color;
}

.container {
  position: relative;
}

.btn-full {
  width: 100%;
}

.none {
  display: none;
}

.btn-full.btn-action {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 50%;
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}

.btn-accele {
  background: $warning-color;
  border: none;
  color: #fff;
  &:active, &:hover, &:focus {
    background: darken($warning-color, 10%);
  }
}

.btn-mini.btn-action {
  width: 3rem;
  height: 3rem;
  display: block;
  position: fixed;
  border-radius: 99px;
  bottom: 1rem;
  &.left {
    left: 1rem;
  }
  &.right {
    right: 1rem;
  }
  &.center {
    left: calc((100% - 3rem) / 2);
  }
  i {
    font-size: 1.3rem;
  }
}
